html, body {
   height: 100%;
   width: 100%;
   margin: 0;
   padding: 0;
}

.full-viewport {
  background: green;
  height: 100%;
  width: 100%;
  display:table;
  max-height: 800px;

}

#heatmapContainerWrapper,
.time-select {
  display: table-row;
}
#heatmapContainerWrapper {

  background: pink;
  height: 100%;

  max-width: 1000px;
}



.time-select {
  height: 50px;
  width: 100%;

  background: yellow;

}



#heatmapContainer img {
    max-width: 100%;
}
